<!-- This page will display a user's Pokemon's specific details as they are stored in the database. From this page, a user will be able to get a page where they can edit these details. -->
<script type="text/javascript" src="/js/toggleEvolution.js"></script>
<div class="header">
<!-- Name of Pokemon being viewed -->
	<%= @pokemon[1] %>
</div>

	<div>
	<!-- Image of Pokemon being viewed -->
		<img class="viewImage" src="/images2/<%= @pokemon[0] %>.png" />
	</div>


	<div class="evolutions">
		<div class="evolutions__text">
			Evolution Path
		</div>
		<div id="showText">
			Show/Hide Evolutions
		</div>
		<div id="hideText">
			Hide Evolutions
		</div>
	<% if @pokemon[7] != "None" %>
		<div id="toggle">
			<div class="evoWrapper">
				<div class="evolutions__image">
			<!-- Image of Pokemon being viewed -->
				<img class="evoImage" src="/images2/<%= @pokemon[7] %>.png" />
				<div class="stage"><%= @pokemon[7] %></div>
				</div>

	<% end 

		if @pokemon[8] != "None"  %>

			<!-- Image of Pokemon being viewed -->
				<div class="evolutions__image">
				<img class="evoImage" src="/images2/<%= @pokemon[8] %>.png" />
				<div class="stage"><%= @pokemon[8] %></div>
				</div>
 	<%  end 

		if @pokemon[9] != "None"%>

			<!-- Image of Pokemon being viewed -->
				<div class="evolutions__image">
				<img class="evoImage" src="/images2/<%= @pokemon[9] %>.png" />
				<div class="stage"><%= @pokemon[9] %></div>
				</div>
			</div>
 	<% end %>
 		</div>
	</div>

<div class="statsContainer">

	<div class="stats">
		<div class="stats__title">
			Height:
		</div> 
		<div class="stats__info">
			<%=  @pokemon[1] %> ft
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Weight:
		</div>
		<div class="stats__info">
			<%= @pokemon[2] %> lbs
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Gender:
		</div>
		<div class="stats__info">
			<%= @pokemon[3] %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Type:
		</div>
		<div class="stats__info">
			<%= @pokemon[10] %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			CP:
		</div>
		<div class="stats__info">
			<%= @pokemon[4] %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			HP:
		</div>
		<div class="stats__info">
			<%= @pokemon[5] %>
		</div>
	</div>		

	<div class="stats">
		<div class="stats__title">
			Favorite:
		</div>

	<% if @pokemon[6] == "on" %>

		<div class="stats__info">
			<img class="favoriteHeart" src="/images2/heart.png" alt="Heart" />
		</div>

	<% else %>

		<div class="stats__info">
			<%= @pokemon[6] %>
		</div>

	<% end %>
	</div>
	
</div>

	<div class="editText">
		<a href="/edit?name=<%= @pokemon[0] %>">Edit Information</a>
	</div>